//bacgrounds
$body-bg: #ffffff;
$item-bg: #f8f8f8;

//fonts colors
$basic-color: #303030;

//fonts
$basic-family: "Inter", "Arial", "Helvetica", sans-serif;
$prata: "Prata", "Arial", "Helvetica", sans-serif;
